<a href="https://colab.research.google.com/github/Sooyeon13/dongsoo/blob/main/POSCO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

df = pd.read_csv("https://raw.githubusercontent.com/Sooyeon13/13/main/posco.csv")

In [82]:
x_data = df.drop(['Y'], axis=1)
y_data = df['Y']

for j in range(0, 50):
  for i in range(len(x_data.loc[j])):
    change=y_data[j]+i+1
    if (change<=0):
      change=0
    T=(20-change)*T_B+change*T_D
    
    if x_data.loc[j][i]=='B':
      T=T/(T_B*20)
      T=str(T)
      x_data.loc[j][i] = x_data.loc[j][i].replace('B',T)

    elif x_data.loc[j][i]=='D':
      T=T/(T_D*20)
      T=str(T)
      x_data.loc[j][i] = x_data.loc[j][i].replace('D',T)

    else:
      x_data.loc[j][i] = x_data.loc[j][i].replace('X','0')

x_data

       1       2  ...                  19                  20
0    1.0     1.0  ...  1.0049586776859505  1.0033057851239668
1    1.0       0  ...  1.0033057851239668  1.0016528925619834
2    1.0  0.9984  ...  1.0033057851239668  1.0016528925619834
3    1.0  0.9984  ...  1.0033057851239668  1.0016528925619834
4    1.0       0  ...  1.0033057851239668  1.0016528925619834
..   ...     ...  ...                 ...                 ...
195    Z       X  ...                   X                   B
196    X       Z  ...                   B                   B
197    Z       Z  ...                   B                   B
198    Z       Z  ...                   B                   B
199    X       Z  ...                   B                   B

[200 rows x 20 columns]